{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block content %}
<section id="home" class="hero">
    <div class="hero-content">
        <h2>Welcome to Your Garden Paradise</h2>
        <p>Discover the finest collection of plants, flowers, and gardening supplies</p>
        <a href="{% url 'plants' %}" style="  color:#e9f5e1; border: 2px solid #3c7731;background-color:#5cbf2a; border-radius: 5px;text-decoration: none;padding: 5px;">Explores Plants</a>
    </div>
</section>
{% endblock %}